.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

h1 {

    text-align: center;
}

input {
    width: 20rem;
    height: 15rem;
}